<div class="pricing-body contact-information">
    <h1 class="purple text-center">CONTACT INFORMATION</h1>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            <input type="text" placeholder="Full name">
            <input type="text" placeholder="Email address">
            <input type="text" placeholder="Phone">
            <a href="#" class="btn purple-btn">SUBMIT INQUIRY</a>
            <p class="text-center">We will follow up within 24 business hours.</p>
        </div>
    </div>
</div>