<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<p><b>How It Works</b></p>
				<a href=""><p>Territories</p></a>
				<a href=""><p>CSR Benefits</p></a>
				<a href=""><p>Integrations</p></a>
				<a href=""><p>FAQs</p></a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<p><b>Features</b></p>
				<a href=""><p>Online Ordering</p></a>
				<a href=""><p>Geospatial Pricing</p></a>
				<a href=""><p>Route Schedules</p></a>
				<a href=""><p>Route Polygons</p></a>
				<a href=""><p>Parcel Polygons</p></a>
				<a href=""><p>E-Commerce</p></a>
				<a href=""><p>Supply & Demand</p></a>
				<a href=""><p>Database Architecture</p></a>
				<a href=""><p>Information Kiosk</p></a>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<a href=""><p><b>Pricing</b></p></a>
				<a href=""><p><b>Demo</b></p></a>
				<a href=""><p><b>Contact</b></p></a>
				<div class="subscribe-box">
					<p><b>Sign up for our newsletter</b></p>
					<p>Keep up with WasteMate product annoucements, events, and walkthroughs.</p>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Email address">
						<span class="input-group-btn">
							<button class="btn dark-blue-btn" type="button">Subscribe</button>
						</span>
					</div><!-- /input-group -->
				</div>
			</div>
		</div>
	</div>
</footer>
