<div class="pricing-box">
    <div class="clearfix v-center pricing-heading">
        <div class="col-sm-6 col-xs-6">
            <h1>10 USERS</h1>
        </div>
        <div class="col-sm-6 col-xs-6 text-right">
           <h2>$</h2><h1>699<p>/mo</p></h1><br><p><b>+$139 one-time setup fee</b></p>
        </div>
    </div>

    <div class="pricing-body">
        <p class="text-center purple">SELECT SERVICES</p>
        <div class="clearfix">
            <div class="col-sm-6 col-xs-6">
                <div>
                    <label>
                        <input class="checkbox" type="checkbox"><span class="col-sm-1 col-xs-2"></span><div class="col-sm-11 col-xs-10"><b>Online Ordering</b> $399/mo<br><i>includes customized interface for online orders</i></div>
                    </label>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div>
                    <label>
                        <input class="checkbox" type="checkbox"><span class="col-sm-1 col-xs-2"></span><div class="col-sm-11 col-xs-10"><b>Account Management</b> $499/mo<br><i>includes bill payment, service management</i></div>
                    </label>
                </div>
            </div>
        </div>

        <hr />

        <div class="clearfix additional-services">
            <div class="col-sm-6 col-xs-12 additional-brands">
                <p class="purple text-center">ADDITIONAL BRANDS</p>
                <div class="col-sm-2 col-xs-2">
                    <select>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="col-sm-10 col-xs-10">
                    <h5>$49/mo</h5>
                    <p><i>for each additional sister company website within your brand</i></p>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <p class="purple text-center">ONE-TIME SETUP FEE</p>
                <div class="col-sm-2 col-xs-2">
                    <select>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="col-sm-10 col-xs-10">
                    <h5><b>Routes</b> $9/day per route</h5>
                    <p><i>example: A single vehicle that runs 1 route, everyday, 5 days per week = $45 setup fee</i></p>
                </div>
            </div>
        </div>

        <hr />

        <div class="user-number">
            <p class="purple text-center">NUMBER OF USERS</p> 
            
            <div class="row" id="slider-input">
                <div class="col-sm-8">
                    <input type="hidden" value="10">
                    <div class="slider"></div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="text-center"><h3 class="number-box">10</h3></div>
                </div>
            </div>
        </div>

        <hr />

        <div class="text-center">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> MONTHLY
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option2" autocomplete="off"> ANNUALLY
                </label>
            </div>
        </div>
    </div>
</div>
