/*** Reset some basic elements ***/
    body, h1, h2, h3, h4, h5, h6,
    p, blockquote, pre, hr,
    dl, dd, ol, ul, figure {
        margin: 0;
        padding: 0;
    }

/*** Basic styling ***/
    html, body {
        height: 100%;
    }
    body {
        font-family: $font-family-base;
        background-color: $background-color;
        color: $text-color;
    }
    @media (min-width: 1200px){
        .container {
            width: 1055px;
        }
    }

/*** Images ***/
    img {
        max-width: 100%;
        vertical-align: middle;
    }

/*** Lists ***/
    ul, ol {
        margin-left: $spacing-unit;
    }

    li {
        > ul,
        > ol {
             margin-bottom: 0;
        }
    }

/*** Headings ***/
    h1, h2, h3, h4, h5, h6 {
       
    }
    h1 {
        font-size: $font-size-h1;
    }
    h2 {
        font-size: $font-size-h2;
    }
    h3 {
        font-size: $font-size-h3;
    }
    h4 {
        font-size: $font-size-h4;
    }
    h5 {
        font-size: $font-size-h5;
    }
    p {
        font-size: $font-size-base;
    }

/*** Links ***/
    a {
        color: $link-color;
        text-decoration: none;
        font-size: $link-size;
    }

/*** Common styles ***/
    .fill {
        width: 100%;
        height: 560px;
        background-position: top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .v-center {
        display: table;
        @media #{$xs}  {
            display: block;
        }
    
        & > * {
            display: table-cell;
            vertical-align: middle;
            float: none;
            @media #{$xs}  {
                display: block;
            }
        }
    }

    .liner-down-gradient {
        background: rgba(248,248,248,1);
        background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 94%, rgba(255,255,255,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,248,248,1)), color-stop(0%, rgba(248,248,248,1)), color-stop(94%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
        background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 94%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 94%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 94%, rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 94%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff', GradientType=0 );
    }
    .liner-gradient {
        background: rgba(248,248,248,1);
        background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(248,248,248,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,248,248,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(17%, rgba(255,255,255,1)), color-stop(100%, rgba(248,248,248,1)));
        background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(248,248,248,1) 100%);
        background: -o-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(248,248,248,1) 100%);
        background: -ms-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(248,248,248,1) 100%);
        background: linear-gradient(to bottom, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(248,248,248,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f8f8f8', GradientType=0 );
    }
    .gradient {
        background: rgba(248,248,248,1);
        background: -moz-linear-gradient(left, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 79%, rgba(248,248,248,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,248,248,1)), color-stop(19%, rgba(255,255,255,1)), color-stop(79%, rgba(255,255,255,1)), color-stop(100%, rgba(248,248,248,1)));
        background: -webkit-linear-gradient(left, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 79%, rgba(248,248,248,1) 100%);
        background: -o-linear-gradient(left, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 79%, rgba(248,248,248,1) 100%);
        background: -ms-linear-gradient(left, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 79%, rgba(248,248,248,1) 100%);
        background: linear-gradient(to right, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 79%, rgba(248,248,248,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f8f8f8', GradientType=1 );
    }
    .blue {
        color: $blue-color;
    }
    .dark-blue {
        color: $dark-blue-color;
    }
    .purple {
        color: $purple-color;
    }
    .orange {
        color: $orange-color;
    }
    .white-background {
        background-color: $white-color !important;
    }
    .header-box {
        padding: 15px;
        background-color: $background-color;
        position: relative;
        min-height: 120px;
        margin-top: -60px;
        @media #{$xs} {
            position: inherit;
            margin: 20px 0;
            bottom: 0;
        }
        h1 {
            font-size: $font-size-h1-large;
            font-weight: $font-weight-light;
            margin-bottom: 15px;
            @media #{$xs} {
                font-size: $font-size-h2;
            }
        }
        p {
            margin-bottom: 5px;
            font-weight: $font-weight-bold;
        }
    }
    .icon-box {
        margin: 20px 0;
        & > div {
            padding: 0 7px;
            &:first-child {
                text-align: right;
            }
        }
        img {
            margin: 0;
            height: 70px;
            width: 70px;
        }
        p em {
            color: $purple-color;
            font-style: normal;
        }
        h1 {
            font-weight: $font-weight-light;
            margin-bottom: 15px;
            margin-top: 15px;
        }
        p {
            font-weight: $font-weight-regular;
        }
    }
    .pricing-box{
        width: 100%;
        border: 1px solid transparent;
        .pricing-heading {
            background-color: $purple-color;
            width: 100%;
            padding: 15px;
            color: $white-color;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            @media #{$xs} {
                & > .col-xs-6 {
                    float: left;
                }
            }
            h1 {
                font-weight: $font-weight-light;
                display: inline;
            }
            h2 {
                display: inline;
                vertical-align: top;
                font-weight: $font-weight-light;
            }
            p {
                display: inline-block;
            }
        }

    }
    .pricing-body {
        background-color: $white-color;
        padding: 15px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        label {
            padding-bottom: 20px;
            font-weight: $font-weight-regular;
            cursor: pointer;
            i {
                font-weight: $font-weight-light;
                display: block;
            }
        }
        .label-text {

        }
        p.purple {
            margin-bottom: 20px;
        }
        .additional-services {
            padding: 20px 5px;
            select {
                height: 23px;
                width: 32px;
                border-color: #babcbf;
                color: $purple-color;
                background: url(/image/caret-down.png) no-repeat right transparent;
                -webkit-appearance: none;
                background-size: 8px 5px;
                background-position-x: 18px;
                line-height: 15px;
                padding-left: 5px;
                padding-bottom: 3px;
                font-weight: bold;
                option {
                    color: $purple-color;
                }
                &:focus, option:focus {
                    outline: none;
                }
            }
            h5 {
                font-weight: $font-weight-regular;
                padding-top: 4px;
            }
            i {
                font-weight: $font-weight-light;
            }
            .additional-brands {
                border-right: 1px solid #babcbf;
                @media #{$xs} {
                    margin-bottom: 15px;
                    border-right: none;
                }
            }
        }
        .user-number{
            padding: 20px 30px 50px 30px;
            margin: 0 30px;
        }
        .number-box {
            height: 40px;
            width: 40px;
            padding: 5px 0;
            color: $white-color;
            background-color: $purple-color;
            text-align: center;
            top: -20px;
            position: relative;
            h3 {
                font-weight: $font-weight-light;
            }
            @media #{$xs} {
                position: initial;
                margin-top: 40px;
                text-align: center;
                display: inline-block;
            }
        }

        .checkbox {
            display: none;

            & + span {
                padding: 0;
                padding-right: 10px;
            }

            & + span:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                letter-spacing: 10px; 
                border: 1px solid $border-color;
                width: 18px;
                height: 18px;
                border-radius: 50%;
            }

            &:checked + span:before {
                content: "";
                background-image: url(/image/check.png);
                background-repeat: no-repeat;
                background-position: center;
                padding: 8px;
            }
        }

        #slider-input {
            .noUi-pips .noUi-marker:first-child {
                display: none;
            }
            .noUi-horizontal {
                height: 4px;
                border: none;
                border-radius: 6px;
                background-color: #e1e1e1;
                box-shadow: none;
            }
            .noUi-base {
                cursor: pointer;
            }
            .noUi-handle {
                background: url(/image/slider.png) center no-repeat;
                height: 18px;
                width: 18px;
                border: none;
                left: -9px;
                top: -9px;
                box-shadow: none;
                cursor: col-resize;

                &:before, &:after {
                    display: none;
                }
            }
            .noUi-value-horizontal {
                font-size: 14px;
                font-weight: $font-weight-regular;
            }
            .noUi-marker-horizontal {
                background-color: #B2B2B2;
                border-radius: 3px;
            }
            .noUi-pips-horizontal {
                top: -16px;
            }
        }

        .btn-group {
            background-color: #DCDDDE;
            border-radius: 15px;
            margin-top: 20px;
        }
        .btn-primary {
            border-radius: 15px;
            background-color: #DCDDDE;
            border-color: #DCDDDE;
            height: 22px;
            line-height: 12px;
            color: $text-color;
            font-size: $font-size-base-small;
            font-weight: $font-weight-regular;
        }
        .btn-primary.active, .btn-primary:active, 
        .open>.dropdown-toggle.btn-primary {
            background-color: #fff;
            border: 2px solid #DCDDDE;
            color: $text-color;
            border-radius: 15px;
            box-shadow: none;
        }
        .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        .btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
    }
    .contact-information{
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: $white-color;
        padding: 15px;
        border-radius: 3px;
        h1 {
            margin: 20px 0;
        }
        .purple-btn {
            &:hover {
                color: $white-color;
            }
        }
        p {
            font-weight: $font-weight-semibold;
        }
        input, textarea {
            background-color: $white-color;
            border:1px solid $border-color;
            border-radius: 2px;
            box-shadow: none;
            outline: none;
            padding: 5px 10px;
            width: 100%;
            margin-bottom: 10px;
        }
        textarea {
            resize: none;
        }
        .btn {
            width: 100%;
            margin-bottom: 10px;
        }
        p {
            color: $purple-color;
            font-weight: $font-weight-regular;
        }
    }

/*** Button styles **/
    .btn-header {
        border: 1px solid $white-transparent-middle;
        border-radius: 14px;
        padding: 5px 12px;
        height: 24px;
        @media #{$xs} {
            margin-left: -10px;
        }
    }
    .slide-btn {
        padding: 5px 10px; 
        border-radius: 4px;
        border: 1px solid $white-transparent-middle;
        font-weight: $font-weight-bold;
        margin-top: 10px;
        &:hover {
            color: $white-color;
        }
    }
    .blue-btn {
        background-color: $blue-color;
    }
    .orange-btn {
        background-color: #ff9d91;
    }
    .purple-btn {
        background-color: #8c54a0;
    }
    .blue-transparent-btn {
        border: 1px solid $blue-color;
        background-color: transparent;
        padding: 5px 10px;
        color: $blue-color;
        border-radius: 2px;
        font-size: $font-size-base-small;
        &:hover {
            color: $blue-color;
        }

    }
    .dark-blue-btn {
        background-color: $dark-blue-color;
        color: $white-color;
        border-radius: 3px;
    }